[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "deepgp"]
	path = deepgp
	url = https://github.com/cran/deepgp
[submodule "runexp"]
	path = runexp
	url = https://github.com/cran/runexp
